body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #121d4d;
  color: white;
}
.top {
  padding: 50px;
}
img {
  width: 250px;
}
p {
  font-size: 15px;
}

.job-picture {
  width: 300px;
}

.job {
  border: solid #2cf59e 1.5px;
  width: 400px;
  text-align: center;
  border-radius: 10%;
}
.container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
}

a {
  color: #a5a8c4;
  text-decoration: none;
}

a:hover {
  color: #2cf59e;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-around;
  border-bottom: #96ffd9 solid 1px;
}
nav {
  padding-bottom: 50px;
  padding-top: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.heading {
  text-align: center;
}

#go-button {
  background-color: #31f3ac;
  border-radius: 15px;
  padding: 10px;
  color: black;
  font-weight: bold;
}
#go-button:hover {
  color: white;
}

@media screen and (max-width: 800px) {
  ul {
    flex-direction: column;
    border-bottom: none;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .job {
    align-self: center;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 10%;
}
#site-title {
  font-size: 80px;
  background-color: #31f3ac;
  width: 400px;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  color: #121d4d;
}
